<!DOCTYPE html>
<html lang="en-us">

<script src="{{site.baseurl}}/assets/js/anime.min.js"></script>

<script>
	var isReady = false
	var callbacks = []

	window.enqueueOnYoutubeIframeAPIReady = function (callback) {
	if (isReady) {
	  callback()
	} else {
	  callbacks.push(callback)
	}
	}

	window.onYouTubeIframeAPIReady = function () {
	isReady = true
	callbacks.forEach(function (callback) {
	  callback()
	})
	callbacks.splice(0)
	}
	
	var tag = document.createElement('script');

	tag.src = "https://www.youtube.com/iframe_api";

	var firstScriptTag = document.getElementsByTagName("script")[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>

  {% include head.html %}

  <body class="{{ page.layout }} home">

    {% include sidebar.html %}

    <main class="container">
      {{ content }}
    </main>

    {% include custom-foot.html %}

<script>

	if(window.location.href.indexOf(".html") <= 0 && window.location.href.indexOf("page") <= 0) {
		anime({
		  targets: ['.intro'],
		  translateX: ['-150px', '0px'],
		  opacity: ['0', '1'],
		  duration: 500,
		  delay: 0,
		  easing: 'easeOutQuint',
		});

		anime({
		  targets: ['.site-title'],
		  translateX: ['-150px', '0px'],
		  opacity: ['0', '1'],
		  duration: 500,
		  delay: 100,
		  easing: 'easeOutQuint',
		});

		anime({
		  targets: ['.job'],
		  translateX: ['-150px', '0px'],
		  opacity: ['0', '1'],
		  duration: 500,
		  delay: 200,
		  easing: 'easeOutQuint',
		});

		anime({
		  targets: ['.lead'],
		  translateX: ['-150px', '0px'],
		  opacity: ['0', '1'],
		  duration: 500,
		  delay: 400,
		  easing: 'easeOutQuint',
		});

		anime({
		  targets: ['#sidebar-nav-links'],
		  translateX: ['-150px', '0px'],
		  opacity: ['0', '1'],
		  duration: 500,
		  delay: 500,
		  easing: 'easeOutQuint',
		});


		anime({
		  targets: ['#sidebar'],
		  //backgroundPosition: ['-4000px 100%', '50% 100%'],
		  opacity: ['0', '1'],
		  duration: 2000,
		  delay: 0
		});
		

    }

	
</script>
    
  </body>
</html>
