<!DOCTYPE html>
<html lang="en-us">

<script>
	var isReady = false
	var callbacks = []

	window.enqueueOnYoutubeIframeAPIReady = function (callback) {
	if (isReady) {
	  callback()
	} else {
	  callbacks.push(callback)
	}
	}

	window.onYouTubeIframeAPIReady = function () {
	isReady = true
	callbacks.forEach(function (callback) {
	  callback()
	})
	callbacks.splice(0)
	}
	
	var tag = document.createElement('script');

	tag.src = "https://www.youtube.com/iframe_api";

	var firstScriptTag = document.getElementsByTagName("script")[0];
	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
</script>

  {% include head.html %}

  <body class="{{ page.layout }} home">

    {% include sidebar.html %}

    <main class="container">
      {{ content }}
    </main>

    {% include custom-foot.html %}
  </body>
</html>
